.feed {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 18px;
  grid-row-gap: 26px;
  margin-top: 15px;
}

.card {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 170px;
}

.card h2 {
  font-size: 16px;
  color: #000;
  margin: 2px 0;
  font-weight: 600px;
}

.card h3 {
  font-size: 14px;
  color: #555;
  margin: 4px 0;
  font-weight: 600px;
}
.card p {
  font-size: 14px;
  color: #777;
  margin: 4px 0;
}
