nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  left: 0;
}

.flex-div {
  gap: 20px;
  display: flex;
  align-items: center;
}
.menu-icon {
  width: 1.5vw;
  height: 2.5vh;
}
.logo {
  width: 8vw;
}
nav img {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

nav input {
  border-radius: 16px;
  width: 28vw;
  padding: 6px 16px;
  border: 1px solid rgb(177, 177, 177);
  outline: none;
  background: transparent;
}

.search-icon {
  width: 1.5vw;
}

.nav-right img {
  width: 1.7vw;
}
