.recomended {
  width: 30%;
}
.side-video-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  border-radius: 8px;
  overflow: hidden;
}
.side-video-list img {
  flex-basis: 48%;
  width: 50%;
  object-fit: cover;
}

.vid-info {
  flex-basis: 49%;
}
.vid-info h4 {
  font-size: 12px;
  margin-bottom: 5px;
}
