.recomended {
  width: 30%;
}
.side-video-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  border-radius: 8px;
  overflow: hidden;
  gap: 10px;
}
.side-video-list img {
  flex-basis: 48%;
  width: 50%;
  object-fit: cover;
}

.vid-info {
  flex-basis: 49%;
}

.title{
  font-size: 13px;
  margin-bottom: 5px;
  font-weight: 500;
  color: black;
}
.channel-name{
  font-size: 12px;
  color: gray;
  margin-bottom: 2px;
}
.views{
  font-size: 11px;
  color: gray;
}